<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>error <%= err %></p>
    <p>stdout <%= stdout %></p>
	<p>stderr <%= stderr %></p>
  </body>
</html>